body {
    background: cadetblue;
    padding-bottom: 17vh;
    position: relative;
    min-height: 100vh;
}

.nav {
    position: absolute;
    top: 0;
    width: 99%;
    text-align: center;
    height: 4.75%;
    padding-top: 0;
    display: flex;
    z-index: 999;
    background-color: cadetblue;
    border-radius: 4px;
    margin: 0.5%;
    box-shadow: 0 0 8px #3b6365;
    border: 1px solid #3b6365;
}

.nav input,
.nav button {
    height: 100%;
}

.nav h1 {
    flex: 2;
    color: gold;
    border-right: 1px solid #3b6365;
    height: 100%;
    font-size: 1.75rem;
    padding-top: 1.5%;
}

.nav p {
    flex: 3;
    color: #fff;
    margin: 0.5%;
    padding-top: 1.5%;
    height: 100%;
    font-size: 0.89rem;
}

.fa-spin {
    position: absolute;
    top: 37%;
    left: 48%;
}

.nav button {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.nav input {
    border-radius: 0;
    flex: 1;
    box-shadow: 0 0 8px #3b6365;
}

.nav output {
    margin-top: 2%;
    color: goldenrod;
}

.notif {
    position: absolute;
    top: 8%;
    left: 25%;
    z-index: 999;
    font-size: 1.1rem;
    width: 50%;
    height: 10vh;
}

.card {
    z-index: 999;
    position: absolute;
    top: 8%;
    left: 1%;
}

.card h4,
.card h6,
.card small,
.card p {
    background: #fff;
    padding: 2%;
    color: #000;
    border-radius: 2px;
    z-index: 1000;
    font-size: 55%;
}

@media (min-width: 768px) {
    .nav {
        width: 50%;
        left: 24%;
        font-size: 1.75rem;
    }
    
    .nav p {
        padding-top: 0.25%;
        font-size: 1.45rem;
    }

    .nav h1 {
        font-size: 3rem;
        padding-top: 0;
    }

    .nav output {
        margin-top: 0.5%;
    }

    .card {
        top: 22%;
    }

    .card h4,
    .card h6,
    .card small,
    .card p {
        font-size: 1.75rem;
        z-index: 999;
    }

    .notif {
        font-size: 1.75rem;
        left: 30%;
        width: 40%;
        height: 20vh;
    }
}

#map {
    width: 100%;
    height: 88.5%;
    position: absolute;
    top: 0;
}

#map h4 {
    position: absolute;
    top: 35%;
    width: 45%;
    left: 27%;
}

#next {
    position: absolute;
    bottom: 20%;
    right: 1%;
    z-index: 9999;
    box-shadow: 0 0 8px #590f33;
    border: 1px solid #590f33;
}

.dot {
    height: 12px;
    width: 12px;
    background: cadetblue;
    border: 1px solid #aaa;
    border-radius: 50%;
    animation: pulse 1s infinite;
    transition: all 0.2s;
}

.footer {
    height: 11.5vh;
    font-size: 1.25rem;
    padding: 0.5% 0;
}

.footer h4 {
    margin-top: 1%;
    font-size: 1.5rem;
    margin-top: 0;
}

g {
    fill: goldenrod;
}

@keyframes pulse {
    50% {
        border-color: #aaa;
    }

    100%, 0% {
        border-color: #3b6365;
    }
}